
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');



.sand
{
   background: -webkit-gradient(linear, left top, left bottom, from(rgb(241, 14, 230)), to(rgb(184, 7, 197)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   position: relative;
   left: 70px;
   top: 5px;
   font-size: 2em;
   animation: rotation 2s infinite linear;  
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  }

.loading 
{
  position: fixed;
  background: #fff;
  left: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s linear;
}
.loading::after 
{
  content: "";
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 25px solid  #99e2d0;
  border-top: 8px solid #99e2d0 ;
  border-right: 12px solid #99e2d0;
  border-bottom: 8px solid #99e2d0;
  border-radius: 50%;
  opacity: 0;
  animation: rotat-loading 3s linear;
}

@keyframes loader 
{
  0% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes rotat-loading 
{
  0% {
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}


*, *::before, *::after {
  box-sizing: border-box;
}

body 
{
  margin: 0;
  padding: 0;
}




h1 {
  margin-left: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
}

blockquote {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03rem;
}

h1 {
  font-family: "shrikhand", cursive;
}

h2 {
  font-family: "shrikhand", cursive;
}

a {
  text-decoration: none;
  color: #000;
}

.conteneur {
  background-color: #f6f6f6;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .conteneur {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .conteneur {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
  }
}


/*       HEADER          */


.en-tete {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right:30px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .en-tete {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .en-tete {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
  }
}
.en-tete__logo {
  font-size: 2rem;
  font-weight: unset;
}

/*     LOCALISATION        */

.localisation {
  background: linear-gradient(#f6f6f6, #eaeaea, #eaeaea, #eaeaea);
  border-top: 3px solid rgba(81, 73, 90, 0.3);
  display: flex;
  justify-content: center;
}
.localisation__affichage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.localisation__icone {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}
.localisation__ville {
  height: 30px;
  width: 150px;
  font-weight: 800;
  border: none;
  background: inherit;
}

/*      PRESENTATION           */

.presentation {
  padding: 10px 0px;
  background: #f6f6f6;
  text-align: center;
  
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__entreprise {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .presentation__entreprise {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .presentation__entreprise {
    width: 90%;
    margin: 0 auto;
  }
}
.presentation__titre {
  font-size: 1.7rem;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__titre {
    font-size: 2rem;
  }
}
.presentation__restaurants {
  color: #353535;
  margin-top: 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__restaurants {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .presentation__restaurants {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .presentation__restaurants {
    font-size: 1.2rem;
  }
}
.presentation__bouton {
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.8;
  box-shadow: 0 0 10px 3px #eaeaea;
  transition: opacity 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5) 80ms, box-shadow 330ms;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: pointer;
}
.presentation__bouton:hover {
  opacity: 1;
  box-shadow: 0 0 10px 5px rgba(56, 50, 62, 0.3);
  background: linear-gradient(180deg, #ff79da 10%, #9356dc 100%);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__bouton {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .presentation__bouton {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .presentation__bouton {
    font-size: 1.2rem;
  }
}

/*      FONCTION        */

.fonctionnement {
  padding: 40px 20px;
  font-size: 1.2rem;
  background-color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fonctionnement__bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .fonctionnement__bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.fonctionnement__contenu {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: #f6f6f6;
  height: 60px;
  opacity: 0.8;
  transition: transform 200ms cubic-bezier(0.3, 0.7, 0.4, 1.5) 150ms, opacity 350ms;
  box-shadow: 0 0 10px 3px #eaeaea;
  border-radius: 19px;
  display: flex;
  align-items: center;
}

.fonctionnement__contenu:hover {
  transform: translateY(1px);
  opacity: 1;
  background-color: #f2eafb;
  box-shadow: 0 0 10px 5px rgba(56, 50, 62, 0.3);
}
.fonctionnement__contenu:hover .fonctionnement__icone--fonce {
  color: #9356dc;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__contenu {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fonctionnement__contenu {
    flex-basis: 31%;
  }
}
@media screen and (min-width: 1200px) {
  .fonctionnement__contenu {
    flex-basis: 31%;
  }
}
.fonctionnement__numero {
  position: absolute;
  z-index: 2;
  left: -12px;
  top: 18px;
  height: 22px;
  width: 22px;
  background-color: #9356dc;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .fonctionnement__numero {
    font-size: 1rem;
  }
}
.fonctionnement__icone {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 5px;
  font-size: 1.1rem;
  width: 30px;
}
@media screen and (min-width: 1200px) {
  .fonctionnement__icone {
    font-size: 1.2rem;
  }
}
.fonctionnement__icone--fonce {
  color: #858282;
}
.fonctionnement__possibilite {
  font-weight: 900;
  font-size: 1rem;
}
@media screen and (min-width: 1200px) {
  .fonctionnement__possibilite {
    font-size: 1.1rem;
  }
}


/*   SECTION MENU   */


.restaurant {
  padding: 10px 20px;
  background: #f6f6f6;
  font-size: 1.2rem;
}

.restaurant__titre {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant__gastronomique {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .restaurant__gastronomique {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__gastronomique {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.restaurant__carte {
  background: white;
  position: relative;
  z-index: 3;
  margin-bottom: 20px;
  transition: transform 200ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  border-radius: 19px;
  box-shadow: 0 0 10px 3px #eaeaea;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant__carte {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .restaurant__carte {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__carte {
    flex-basis: 24%;
  }
}
.restaurant__image {
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -htm-transition: 1s;
  -webkit-transition: 1s;
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=1);
}
.restaurant__image:hover
{
  opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  filter: alpha(opacity=0.5);
}
.restaurant__legende {
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 30px;
  background: #99e2d0;
  font-size: 0.9rem;
  font-weight: 900;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__plat {
  font-size: 1rem;
  padding-left: 10px;
  padding-bottom: 2px;
}
.restaurant__plat h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.restaurant__plat p {
  margin-top: 0;
  margin-bottom: 10px;
}
.restaurant__coeur {
  position: absolute;
  top: 175px;
  right: 10px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: 0px solid transparent;
  padding: 0;
  cursor: pointer;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__coeur:hover::before {
  opacity: 1;
}
.restaurant__coeur::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  opacity: 0;
  display: block;
  transition: opacity 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.restaurant__coeur:hover .restaurant__aime--pasdegra {
  opacity: 0;
}
.restaurant__coeur:hover .restaurant__aime--degra {
  opacity: 1;
  font-weight: 900;
}
.restaurant__aime {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: lighten;
}
.restaurant__aime--pasDegra {
  opacity: 0;
}
.restaurant__aime--degra {
  opacity: 1;

}

footer a{
    text-decoration: none;
    margin-left: 10px;
    color: white;    
}

.footer_logo
{
    margin-left: 25px;
    font-family: 'Shrikhand';
    color: white;
}

footer{
    
    background-color: #292929;
    padding-bottom: 15px;
    padding-top: 8px;
}


.footer_list
{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    padding-bottom: 5px;
    font-family: 'roboto';
    text-decoration: none;
    color: white;

}

.title_logo {
    font-family: 'Shrikhand';
    width: 90%;
    text-align: center;
  }
  
  .img {
    max-height: 300px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  
  .menu {
    border-radius: 50px 50px 0 0;
    background-color: #f6f6f6;
    padding: 5px 10px 40px 10px;
    position: relative;
    top: -50px;
    left: 0;
    right: 0;
  }
  .menu_resto {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu_compo {
    font-family: 'Shrikhand';
    font-weight: unset;
  }
  .menu_heart {
    margin-right: 15px;
    position: relative;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0;
    cursor: pointer;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu_heart:hover::before {
    opacity: 1;
  }
  .menu_heart::before {
    content: "";
    opacity: 0;
    display: block;
    transition: opacity 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  }
  .menu_heart:hover .menu__aime--pasdegra {
    opacity: 0;
  }
  .menu_heart:hover .menu__aime--degra {
    opacity: 1;
    font-weight: 900;
  }
  .menu_like {
    background-color: #f6f6f6;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: lighten;
  }
  .menu_like--vide {
    opacity: 0;
  }
  .menu_like--plein {
    opacity: 1;
  }
  .menu_composition {
    margin-bottom: 35px;
  }
  .menu_legend {
    margin-left: 15px;
    font-family: 'roboto';
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: unset;
  }
  .menu_legend::after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 3px solid #99e2d0;
    padding-bottom: 3px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .menu_ingredient {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .menu_ingredient {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 1200px) {
    .menu_ingredient {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .menu_plat {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px 10px 0px 10px;
    margin-bottom: 15px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    animation: apparition-progressive 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5) forwards;
    box-shadow: 0px 0px 12px 0px #eaeaea;
    border-radius: 19px;
  }
  .menu_plat:nth-child(1) {
    animation-delay: 800ms;
  }
  .menu_plat:nth-child(2) {
    animation-delay: 1600ms;
  }
  .menu_plat:nth-child(3) {
    animation-delay: 2400ms;
  }
  .menu_plat:nth-child(4) {
    animation-delay: 3200ms;
  }
  .menu_plat:hover .menu__prix {
    margin-right: 70px;
  }
  .menu_plat:hover .menu_validation {
    transform: scale(1);
    right: 0;
  }
  .menu_plat:hover .menu_validation::after {
    transform: rotate(360deg);
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .menu_plat {
      flex-basis: 49%;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .menu_plat {
      flex-basis: 32%;
    }
  }
  @media screen and (min-width: 1200px) {
    .menu_plat {
      flex-basis: 32%;
    }
  }
  .menu_detail {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'roboto';
  }
  .menu_detail h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media screen and (min-width: 1200px) {
    .menu_detail h4 {
      font-size: 1.1rem;
    }
  }
  .menu_detail p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media screen and (min-width: 1200px) {
    .menu_detail p {
      font-size: 1rem;
    }
  }
  .menu_price {
    font-family: 'roboto';
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: margin-right 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  .menu_validation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -60px;
    width: 60px;
    height: 100%;
    background: #99e2d0;
    transform: scale(0);
    transition: transform 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5), right 500ms ease-in-out;
  }
  .menu_validation::after {
    content: "ÔÅò";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background-color: #99e2d0;
    color: #fff;
    transform: rotate(180deg);
    width: 26px;
    height: 26px;
    transition: transform 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5) 300ms;
  }
  .menu_commande {
    display: flex;
    justify-content: center;
  }
  .menu_btn {
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    font-size: 0.9rem;
    opacity: 0.8;
    box-shadow: 0 0 10px 3px #eaeaea;
    transition: opacity 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5) 80ms, box-shadow 330ms;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 150px;
    cursor: pointer;
  }
  .menu_btn:hover {
    opacity: 1;
    box-shadow: 0 0 10px 5px rgba(56, 50, 62, 0.3);
    background: linear-gradient(180deg, #ff79da 10%, #9356dc 100%);
  }
  @media screen and (min-width: 1200px) {
    .menu_btn {
      font-size: 1.2rem;
      width: 180px;
    }
  }
  @keyframes apparition-progressive {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }