
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');



.sand
{
   background: -webkit-gradient(linear, left top, left bottom, from(rgb(241, 14, 230)), to(rgb(184, 7, 197)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   position: relative;
   left: 70px;
   top: 5px;
   font-size: 2em;
   animation: rotation 2s infinite linear;  
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  }

.loading 
{
  position: fixed;
  background: #fff;
  left: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s linear;
}
.loading::after 
{
  content: "";
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 25px solid  #99e2d0;
  border-top: 8px solid #99e2d0 ;
  border-right: 12px solid #99e2d0;
  border-bottom: 8px solid #99e2d0;
  border-radius: 50%;
  opacity: 0;
  animation: rotat-loading 3s linear;
}

@keyframes loader 
{
  0% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes rotat-loading 
{
  0% {
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}


*, *::before, *::after {
  box-sizing: border-box;
}

body 
{
  margin: 0;
  padding: 0;
}



.logo
{
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.localisation
{
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: 'roboto';
    display: flex;
    margin-top: 5px;
    background-color: #E0E0E0;
    box-shadow:  2px 0px 5px 0px #888; 
    
}

.gps
{
    color: grey;
}

.ville
{
    margin-left: 5px;
}


.headcase
{
    padding-top: 15px;
    background-color: #EEECEF;
    padding-bottom: 50px;
}

.subtitles
{
    margin-left: 5%;
    font-family: 'roboto';
    display: flex;
    justify-content: center;
}

.subtitles--light
{
    margin-left: 5%;
    font-family: 'roboto';
    color: #292929;
    font-size: 1.2em;
}

.rechercher 
{
    
    font-family: 'Roboto';
    display: block;
    background: linear-gradient(to top,#9356DC, #FF79DA );
    font-size: .9em;
    color: #ffffff;
    border-radius: 35px;
    border: none;
    width: 200px;
    cursor: pointer;
    height: 50px;
    margin-left: 20%;
    box-shadow:  0 0px 5px 2px #888;
   
}

.fonction
{
    margin-top: 30px;
    font-family:'roboto';
    

}

.fonction_title
{
margin-left: 15px;
}

.fonction_list
{
    display: flex;
    flex-direction: column;
    padding-left: 20px; 
    padding-right: 15px;
    list-style: none;
    
}

.choice_btn
{
    box-shadow:  0 0px 5px 2px #888;
    display: inline-flex;
    align-items: center;
    color: black;
    border-radius: 20px;
    border: none;
    width: 200px;
    cursor: pointer;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 58px;
    margin: 10px;
}

.numb
{
    position: relative;
    right: 20px;
    color: white;
    background-color: #9356DC;
    width: 30px;
    height: 30px;
    border-radius: 20px 20px;
    align-items: center;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.fonct_bt{
    
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}



.choix_name
{
    font-family: 'roboto';
    position: relative;
    right: 35px;
    font-weight: bold;
}


.icon_btn
{
    
    margin-right: 60px;
    color: grey;
    
    
}

.shop_btn
{
    margin-right: 52px;
    color: #9356DC;
}

#section_restau
{
   margin-top: 50px;
   padding-top: 30px;
   padding-bottom: 50px;
   background-color: #EEECEF ;

}

#title-restau
{
    margin-left: 15px;
    font-family: 'roboto';
}

.vignette_restaurant
{
    
    width: 290px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 10px;
    box-shadow: 2px 4px 2px #dfdbdb;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
}

.vignette_restaurant img 
{
    position: relative;
    right: 30px;
    width: 290px;
    max-height: 150px;
    border-radius: 10px 10px 0px 0px;
    
}
.vignette_restaurant:hover
{
    opacity: 0.9;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    filter: alpha(opacity=0.5);
}
.vignette_restaurant a 
{
    text-decoration: none;
    color: black;
    display: block;
}

.nom_restau
{
    position: relative;
    right: 28px;
    color: black;
    margin-top: 2px;
    padding-left: 10px;
    font-size: 1em;
    font-weight: bold;
    height: 6px;
    font-family: 'roboto';
    
}

.new_logo
{
    padding-top: 5px;
    color: #257D43;
    font-size: 0.8;
    position: relative;
    bottom:165px;
    left: 170px;
    font-family: 'roboto';
    font-variant: bolder;
    box-sizing: content-box;
    width:70px ;
    height: 25px;
    padding-left: 10px;
    background-color: #99E2D0;

}

.ville_restau
{
    position: relative;
    right: 28px;
    color: black;
    padding-left: 10px;
    font-family: 'roboto';
    font-size: 0.9em;
    height: 6px;
    
}

.ville_restau1
{
    position: relative;
    right: 28px;
    bottom: 45px;
    color: black;
    padding-left: 10px;
    font-family: 'roboto';
    font-size: 0.9em;
    height: 6px;
}


.icn_rst {
    position: relative;
    left: 35px;
    bottom:10px;
    margin-bottom: 30px;
    margin-left: 200px;
    padding-bottom: 25px;
    color: grey;
    padding:.2em;
}
.icn_rst::before {
    content: "\f004";
    font-weight: bold;
    transition: color 1s ease-out;
}
.icn_rst:hover::before{
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(241, 14, 230)), to(rgb(184, 7, 197)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

footer a{
    text-decoration: none;
    margin-left: 10px;
    color: white;    
}

.footer_logo
{
    margin-left: 15px;
    font-family: 'Shrikhand';
    color: white;
}

footer{
    
    background-color: #292929;
    padding-bottom: 15px;
    padding-top: 8px;
}


.footer_list
{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    font-family: 'roboto';
    text-decoration: none;
    color: white;

}

.title_logo {
    font-family: 'Shrikhand';
    width: 90%;
    text-align: center;
  }
  
  .img {
    max-height: 300px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  
  .menu {
    border-radius: 50px 50px 0 0;
    background-color: #f6f6f6;
    padding: 5px 10px 40px 10px;
    position: relative;
    top: -50px;
    left: 0;
    right: 0;
  }
  .menu_resto {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu_compo {
    font-family: 'Shrikhand';
    font-weight: unset;
  }
  .menu_heart {
    margin-right: 15px;
    position: relative;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0;
    cursor: pointer;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu_heart:hover::before {
    opacity: 1;
  }
  .menu_heart::before {
    content: "";
    opacity: 0;
    display: block;
    transition: opacity 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  }
  .menu_heart:hover .menu__aime--pasdegra {
    opacity: 0;
  }
  .menu_heart:hover .menu__aime--degra {
    opacity: 1;
    font-weight: 900;
  }
  .menu_like {
    background-color: #f6f6f6;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: lighten;
  }
  .menu_like--vide {
    opacity: 0;
  }
  .menu_like--plein {
    opacity: 1;
  }
  .menu_composition {
    margin-bottom: 35px;
  }
  .menu_legend {
    margin-left: 15px;
    font-family: 'roboto';
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: unset;
  }
  .menu_legend::after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 3px solid #99e2d0;
    padding-bottom: 3px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .menu_ingredient {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .menu_ingredient {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 1200px) {
    .menu_ingredient {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .menu_plat {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px 10px 0px 10px;
    margin-bottom: 15px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    animation: apparition-progressive 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5) forwards;
    box-shadow: 0px 0px 12px 0px #eaeaea;
    border-radius: 19px;
  }
  .menu_plat:nth-child(1) {
    animation-delay: 800ms;
  }
  .menu_plat:nth-child(2) {
    animation-delay: 1600ms;
  }
  .menu_plat:nth-child(3) {
    animation-delay: 2400ms;
  }
  .menu_plat:nth-child(4) {
    animation-delay: 3200ms;
  }
  .menu_plat:hover .menu__prix {
    margin-right: 70px;
  }
  .menu_plat:hover .menu_validation {
    transform: scale(1);
    right: 0;
  }
  .menu_plat:hover .menu_validation::after {
    transform: rotate(360deg);
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .menu_plat {
      flex-basis: 49%;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .menu_plat {
      flex-basis: 32%;
    }
  }
  @media screen and (min-width: 1200px) {
    .menu_plat {
      flex-basis: 32%;
    }
  }
  .menu_detail {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'roboto';
  }
  .menu_detail h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media screen and (min-width: 1200px) {
    .menu_detail h4 {
      font-size: 1.1rem;
    }
  }
  .menu_detail p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media screen and (min-width: 1200px) {
    .menu_detail p {
      font-size: 1rem;
    }
  }
  .menu_price {
    font-family: 'roboto';
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: margin-right 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  .menu_validation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -60px;
    width: 60px;
    height: 100%;
    background: #99e2d0;
    transform: scale(0);
    transition: transform 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5), right 500ms ease-in-out;
  }
  .menu_validation::after {
    content: "ÔÅò";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background-color: #99e2d0;
    color: #fff;
    transform: rotate(180deg);
    width: 26px;
    height: 26px;
    transition: transform 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5) 300ms;
  }
  .menu_commande {
    display: flex;
    justify-content: center;
  }
  .menu_btn {
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    font-size: 0.9rem;
    opacity: 0.8;
    box-shadow: 0 0 10px 3px #eaeaea;
    transition: opacity 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5) 80ms, box-shadow 330ms;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 150px;
    cursor: pointer;
  }
  .menu_btn:hover {
    opacity: 1;
    box-shadow: 0 0 10px 5px rgba(56, 50, 62, 0.3);
    background: linear-gradient(180deg, #ff79da 10%, #9356dc 100%);
  }
  @media screen and (min-width: 1200px) {
    .menu_btn {
      font-size: 1.2rem;
      width: 180px;
    }
  }
  @keyframes apparition-progressive {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }